.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }





.my_navbar:before {
   
    content:  url(/media/img/castle_.png);
    transform: scale(.8);
    background-color: #2A3F6A;
    position: absolute;
    bottom: -15px;
    padding: 0px 0px 0px 30px;
    left: -10px;
    /*
    background-image: url(/media/img/fortress.png);
    background-size:  60px;	
    background-repeat: no-repeat;
    */
}

.my_navbar:after {
    
    content: url(/media/img/castle_.png);
    transform: scale(.8);
    background-color: #2A3F6A;
    bottom: -15px;
    position: absolute;
    right: -10px;
    padding: 0px 30px 0px 0px;
  
    /*
    background-image: url(/media/img/fortress.png);
    background-size:  60px;	
    background-repeat: no-repeat;
    */
}  

.my_navbar {
    position: fixed;
    height: 140px;
    background-image: url(/media/img/wall.png),
                      url(/media/img/sun_m.png);
                   
    background-position: bottom 5px left 0px, 65% top;
    background-size: 56px 30px, 140px;	
    background-repeat: repeat-x, no-repeat;
    background-color: #2A3F6A;
     
    
   
    
}





.my_footer{
    background-color: #2A3F6A;
    padding:0px 90px;
    color:#fff;
    width: 100%;
    left: 0;
    right: 0;    
    background-image: url(/media/img/m1.png), 
                      url(/media/img/m2.png) ;

    background-position: 
        bottom 0px left 0px,
        bottom 0px right 0px;
    background-size:  160px, 230px;	
    background-repeat: no-repeat;
}



.my_footer a {
    color: #fff;
}


@media (min-width: 1156px) {
    #title {
        font-size: 14px;
    }    
}


/*
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

*/

.button-padd {
    padding-left: 10px;
}


