{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class='row'>
        <div style='width:100%; margin-bottom:30px;'>
        {% if bread %}
        <span style='margin-right:10px;'><a href='' style='color:#787878'>Главная</a></span><span style='margin-right:10px;'><img src="http://127.0.0.1:8000/media/img/arrow_right.png"></span>
        <span style='margin-right:10px;'><a href='' style='color:#787878'>Открытые данные</a></span><span style='margin-right:10px;'><img src="http://127.0.0.1:8000/media/img/arrow_right.png"></span>
            {% for item in bread %}
                <span style='margin-right:10px;'><a href=''>{{item}}</a></span><span style='margin-right:10px;'>
            {% endfor %}
        {% endif %}
        </div>
            <div class='col'>
                <h1>О портале</h1>
                <hr>
                <div>
                    <p>Some text...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}